<!DOCTYPE html>
<html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rescue Hub</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <body>
    <h1 class="titles">Rescue Hub</h1>
    <div class="container col-md-12">
      <div class="map-div col-md-12">
        <div id="map" class="map"></div>
        <div class="buttons-div">
          <a href="/login" class="btn btn-outline-success btn-lg" role="button" aria-pressed="true">Volunteer Help</a>
          <a href="/rescue" class="btn btn-outline-danger btn-lg" role="button" aria-pressed="true">I Need Help</a>

        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrOa8IKUHVXVGasAHbi7R3CbCLgDjsZbc"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.min.js"></script>
    <script src="/javascripts/data.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>

</html>